<h1>Welcome back to Glamlex!</h1>
<br>
<div class="container">
    <form action="/login" method="POST">
    Username: <input type="text" name="username"><br><br>
    Password: <input type="password" name="password"><br><br>
</div>
    <input type="submit" class="button1" value="Submit">
    </form>