<h1> Welcome to Glamlex! </h1>
<br>

<div class="container">
    <form action="/signup" method="POST">
    Username: <input type="text" name="username"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
</div>
    <input type="submit" class="button1" value="Submit">
    </form>
