<div class="sidebar">
  <a href="/"><button class="button">Back</button></a>  
</div>

<h1> Welcome to Glamlex! </h1>
<br>

<div class="errors">
<%if @user%>
  <ul>
    <%@user.errors.full_messages.each do |msg| %>
      <li><%= msg + "!" %></li>
    <% end %>
    <%end%>
  </ul>
</div>
<br>

<div class="container">
    <form action="/signup" method="POST" autocomplete="off">
    Username: <input type="text" name="username"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
</div>
    <input type="submit" class="button1" value="Submit">
    </form>
