<h1> Welcome to Glamlex! </h1>

<p>Your personal appointment manager. <br> This app allows you to schedule and manage your appointments all in one place.<br>
Make the most of your day.</p>
<h4>Create an account to start:</h4><br>
<form action="/signup" method="POST">
Username: <input type="text" name="username"><br><br>
Email: <input type="email" name="email"><br><br>
Password: <input type="password" name="password"><br><br>
<input type="submit" class="button1" value="Submit">
</form>