<h1> Welcome to Glamlex! </h1>

<h3>Your personal appointment manager.</h3>
<h2>Create an account to start:</h2>

<form action="/signup" method="POST">
Username: <input type="text" name="username"><br>
Email: <input type="email" name="email"><br>
Password: <input type="password" name="password"><br>
<input type="submit" value="Submit">
</form>