<h1>Let's set an appointment!</h1>

<form action="/appointments/new" method="POST">
Title: <input type="text" name="title"><br>
Date: <input type="date" name="date"><br>
Time: <input type="time" name="time"> <br>
<input type="submit" value="Set">
</form>