<h1>What's the plan?</h1><br>
<div class="container">
    <form action="/appointments/new" method="POST">
    Title: <input type="text" name="title"><br><br>
    Date: <input type="date" name="date"><br><br>
    Time: <input type="time" name="time"> <br><br>
</div>
    <input type="submit" class="button1" value="Set">
    </form>