<h1>Welcome to Taskmaster!</h1>   

<p>Your personal task manager. <br> This app allows you to schedule and manage your tasks all in one place, so that you can make the most of your day.</p>
<h4>Log in or create an account to start!</h4><br>
 
 <div class="btn-toolbar">
  <a href="/login"><button>Log In</button></a>
  <a href="/signup"><button>Create Account</button></a>  
</div>   

 