<h1>Welcome to Glamlex!</h1>   

<p>Your personal appointment manager. <br> This app allows you to schedule and manage your appointments all in one place, so that you can make the most of your day.</p>
<h4>Log in or create an account to start!</h4><br>
 
  <a href="/login"><button class="button1">Log In</button></a>
  <br><br>
  <a href="/signup"><button class="button1">Create</button></a>  
   

 